body {
    background-color: lightgray;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-list li {
    margin: 0 20px;
}

.nav-list li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

header {
    background-color: #007BFF;
    color: #FFF;
    padding: 20px;
}

h1 {
    font-size: 36px;
    margin: 0;
}

section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    font-size: 24px;
    margin: 0;
}

p {
    font-size: 16px;
    color: #333;
    margin-top: 10px;
}


canvas {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.canvas_button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.canvas_button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

