body {
    background-color: lightgray;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


/* Style the side navigation bar */
.side-nav {
    background-color:#333;
    color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 150px; /* Adjust the width as needed */
    text-align: left; /* Align text to the left */
    padding-top: 20px;
}

/* Style the side navigation links */
.side-nav .nav-list {
    list-style-type: none;
    padding-left: 20px;
}

.side-nav .nav-list li {
    margin-bottom: 10px;
}

.side-nav .nav-list a {
    text-decoration: none;
    color: #FFF;
    font-size: 1.2em;
    transition: color 0.3s;
}

.side-nav .nav-list a:hover {
    color: #0056b3;
}

/* Adjust the content area to make space for the side navigation */
.about {
    margin-left: 220px; /* Match the width of the side nav + some padding */
}

/* Add responsiveness for smaller screens */
@media (max-width: 768px) {

    /* Adjust the side nav for smaller screens */
    .side-nav {
        width: 100%; /* Occupy full width on smaller screens */
        padding: 20px 0;
        text-align: center;
    }

    .side-nav .nav-list {
        padding-left: 0;
    }
}

header {
    background-color: #e472f6;
    color: #FFF;
    padding: 20px;
    margin-left: 150px;
}

h1 {
    font-size: 36px;
    margin: 0;
    text-align: center;
}

section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    font-size: 24px;
    margin: 0;
}

p {
    font-size: 16px;
    color: #333;
    margin-top: 10px;
}


canvas {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.canvas_button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.canvas_button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.drawingPanelContainer {
    display: flex;
}

.symbolsContainer {
    display: flex
}

.symbolsSection{
    display: grid;
}

.elementsSection{
    display: grid;
}

.symbolsButtons{
    width: 20px;
    height: 20px;
    border: 5px;
    padding: 20px;
    margin: 1px;
}       

.symbolButton{
    width: 50px;
    border: 10px;
    padding: 30px;
    margin: 10px;
}  