*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    /* background-image: url('/static/public/compound\ \(1\).png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;  */
}

header {
    background-color: #e472f6;
    color: #FFF;
    padding: 20px;
}

h1 {
    margin: 0;
}

.sub {
    border: 1px solid black;
    background-color: black;
    color: white;
}

section {
    margin-top: 20px;
}

.img {
    border: 2px solid;
}

.container {
    display: flex;
    justify-content: space-around;
}

.chem, .comp{
    flex: 0 0 auto;
}

.page {
    text-align: center;
}

.page img {
    width: 200px;
    height: 200px;
    cursor: pointer;
}

/* Style the footer */
footer {
    background-color: #333;
    color: #FFF;
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: #333;
    color: #FFF;
    padding: 10px 0;
}

ul.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

ul.nav-list li {
    display: inline;
    margin-right: 20px;
}

ul.nav-list li:last-child {
    margin-right: 0;
}

ul.nav-list li a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}

ul.nav-list li a:hover {
    text-decoration: underline;
}

.middle{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
}

section {
    margin-top: 20px;
}

.page {
    text-align: center;
}

.page img {
    width: 200px;
    height: 200px;
    cursor: pointer;
}

