<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Molecular Property Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='predict.css') }}">

</head>

<body>

    <nav class="side-nav">
        <ul class="nav-list">
            <li><a href="/">Home</a></li>
            <li><a href="{{ url_for('guideline') }}">Guideline</a></li>
            <li><a href="{{ url_for('search') }}">Search</a></li>
            <li><a href="{{ url_for('predict') }}">Predict</a></li>
            <li><a href="{{ url_for('classification') }}">Classification</a></li>
            <li><a href="{{ url_for('database') }}">Database</a></li>
            <li><a href="{{ url_for('about') }}">About Us</a></li>
            <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
        </ul>
    </nav>

    <header>
        <h1>DrugCheckMaster<img src="{{ url_for('static', filename='medicines.png') }}" alt="pills" width="40"></h1>
    </header>

    <main class="about">

        <div>
            <h2>Predict Lipinski's Rule of 5</h2>
        </div>


        <section>

            <form id="prediction-form" action="/predict" method="post">
                <label for="HBD">HBD (Hydrogen Bond Donors):</label>
                <input type="number" name="HBD" required><br>
                <label for="HBA">HBA (Hydrogen Bond Acceptors):</label>
                <input type="number" name="HBA" required><br>
                <label for="MolecularWeight">Molecular Weight:</label>
                <input type="number" name="MolecularWeight" required><br>
                <label for="LogP">LogP:</label>
                <input type="number" name="LogP" step="0.01" required><br>
                <label for="TPSA">TPSA (Polar Surface Area):</label>
                <input type="number" name="TPSA" required><br>
                <label for="Num_Rotatable_Bonds">Number of Rotatable Bonds:</label>
                <input type="number" name="Num_Rotatable_Bonds" required><br>
                <label for="SAS">Synthetic Accessibility Score:</label>
                <input type="number" name="SAS" required><br>
                <button type="button" onclick="predict()">Predict</button>
              </form>
              <div class="result" id="prediction-result"></div>
        </section>

        

    </main>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <footer>
        <p>&copy; 2023 DrugCheckMaster</p>
    </footer>

    <script>

function predict() {
    // Get form data
    const formData = new FormData(document.getElementById('prediction-form'));

    // Send a POST request to the server
    fetch('/predict', {
        method: 'POST',
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        // Update the DOM with the prediction result
        const resultDiv = document.getElementById('prediction-result');
        resultDiv.textContent = `Prediction Result: ${data.prediction}`;
        resultDiv.style.display = 'block'; // Show the prediction result
    })
    .catch(error => {
        console.error('Error:', error);
    });
}


    </script>

</body>

</html>